@model WebApplicationbandaMusicales.BandasMusicales

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BandasMusicales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.banda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.albums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.albums)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruta_foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruta_foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
